header {
    width: 100vw;
}

a {
    text-decoration: none;
}

.w-100 {
    width: 100vw;
}

.logo {
    margin: auto 50px;
}


#page-header {
    width: 100vw;
    height: 80px;
    z-index: 100;
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    
}

.page-nav {
    display: flex;
    list-style: none;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto 50px;
}

.page-nav li { 
    display: inline-block;
}


.page-nav li a {
    display: block;
    padding: 6px 1.2em;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    color: white;
    
}

.page-nav li a:hover {
    background-color: rgba(124,0,0,0.1);
    color: lightgoldenrodyellow
}

.user-info, .user-profile {
    margin-right: 60px;
    color: black;
}

.user-profile a {
    font-size: 12px;
    color: lightsalmon;
    min-width: 50px;
}

.user-profile a:hover {
    color: lightgreen;
}


.user-profile li a {
    font-size: 12px;
    padding: 4px 5px 0px;
    /* border: 2px solid darkslateblue;
    background-color: darkslateblue; */
    border-radius: 10px;
    color: lightgoldenrodyellow;
}

.user-profile li a:hover {
    color: lightgreen;
    transition: 0.2s;
}
